#site-header.ux_header_main {
    position: absolute;
    top: 0;
    background: transparent;
}
header#site-header {
    background: grey !important;
}

.css-cz8boi-SiteDescription.e194w9gz2 {
    color: red !important;
}